html,
body {
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%;
  overflow: hidden;
    */
  background: black;
}

main {
  width: 1920px;
    height: 1080px;
    overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  width: 100%;
  color: #fff;
}